.draw-button {
  position: relative;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draw-button--current {
  background-color: whitesmoke;
}

.draw-button:hover {
  background-color: whitesmoke;
}
