.design__typography__format-button {
  position: relative;
  flex: 1;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  border-right: 1px solid gainsboro;
  outline: none;
}

.design__typography__format-button:hover {
  background-color: whitesmoke;
}

.design__typography__format-button--active {
  background-color: whitesmoke;
}

.design__typography__format-button__icon {
  position: relative;
}