.modal__editor-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal__editor-image__dialog {
  position: relative;
  background-color: #fff;
  padding: 10px;
}

.modal__editor-image__dialog__header {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  background-color: whitesmoke;
  padding: 0 10px;
}

.modal__editor-image__dialog__header__title {
  position: relative;
  font-family: Roboto;
  font-weight: 300;
  padding: 5px;
  user-select: none;
}

.modal__editor-image__block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}