.design__typography__font {
  position: relative;
  width: 60%;
  height: 30px;
  border: 1px solid gainsboro;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.design__typography__font__family {
  position: relative;
  flex: 1;
  display: flex;
  padding: 5px;
}

.design__typography__font__button {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}